<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint beatae placeat minus nobis odio delectus quia amet incidunt tempora cumque a ad, aut veritatis assumenda distinctio culpa officia excepturi deleniti.</p>
	{{> footer}}
	</body>
	
</html>